.add_summary{
    width:15%;
    word-wrap:break-word;
    overflow:hidden;
text-overflow:ellipsis;
}
.orderform {
    width: 40%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.input-group-addon {
    height: 40px;
    width: 90px !important;
}

.form-control1 {
    height: 40px !important;
    width: 343px !important;
}

.space {
    margin-top: 15px;
}

.overlay-popup {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.popup-container {
    width: 1000px;
    height: 618px;
    margin-top: -250px;
    margin-left: -500px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px 0 0 0;
}

.popup-container .close {
    position: absolute;
    right: 15px;
    top: 10px;
}

.popup-iframe {
    display: block;
    margin: 20px auto;
    width: 95%;
    height: 90%;
}