html, body, h1,h2,h3,h4,h5,h6,ul,li{margin:0;padding:0;}
body {font:12px/1.5 '宋体',Arial,Lucida,Helvetica,sans-serif;background:#ffffff;color:#666666}
a {color:#464646;text-decoration:none;}
li{list-style:none;}
.common_left{float:left;}
.common_right{float:right;width:230px;overflow:hidden}
a img{border:none;}
.clear{clear:both;}

/*--------------header--------------*/

.hd_top{width:990px;margin:0 auto;overflow:hidden;zoom:1;padding:5px 0;color:#797979}
.login,.lang{float:right;margin:0 10px;}
.lang a.current{color:#ff0000;}
.login a,.lang a{color:#797979;}
.buy_car{background:url(../images/buy.png) no-repeat left;padding-left:22px;float:right;margin:0 10px;}
.go_pay a{background:url(../images/g_botton.png) no-repeat;display:block;text-align:center;color:#F37E00;font-weight:700;width:43px;line-height:19px;float:right;}
.hd{background:#000;padding:10px 0;}
.hd2{width:990px; margin:0 auto;overflow:hidden;zoom:1;}
.logo{float:left;}
.search{overflow:hidden;zoom:1;}
.search_input {float:left;background:url(../images/search.gif) no-repeat left #b6b6b6;border:1px solid #000;padding-left:25px;margin:0;height:19px;line-height:19px;}
.search_submit{background:#ff931f;border:none; margin:1px 0 0 -1px;height:21px;_margin-left:-4px;}
.phone{background:url(../images/phone.gif) no-repeat left;padding-left:18px;color:#F47F00;font-size:14px;font-weight:700;margin-top:10px;}



/*----------nav---------*/
#nav {background:#efefef;overflow:hidden;zoom:1;}
#nav ul{width:990px;overflow:hidden;zoom:1;margin:0 auto;padding:0;}
#nav ul li{float:left;font-size:14px;font-family:"微软雅黑";padding-right:10px;width:100px;text-align:center}
#nav ul li a{padding:10px 20px;display:block;}
#nav ul li a:hover,#nav ul li a.current{background:#ff931f;color:#000000;font-weight:700;}



/*-----------main--------*/
#main{width:990px;margin:0 auto;}
.image_scroll{margin-top:10px;}
.category {margin-top:10px;overflow:hidden;zoom:1;height:78px;}
.category a {float:left;}


/*----------footer--------*/
#footer{width:990px;margin:0 auto;}
.helpcenter{border:1px solid #D9D9D9;padding:20px;margin-top:10px;overflow:hidden;zoom:1;width:948px;}
.helpcenter ul li{background:url(../images/howtoli.gif) no-repeat left center;padding-left:10px;line-height:20px;}
.help1{float:left;margin:0 25px;overflow:hidden;background:url(../images/newone.gif) no-repeat left top;padding-left:55px;width:130px;}
.help2{float:left;margin:0 25px;overflow:hidden;background:url(../images/howbuy.gif) no-repeat left top;padding-left:55px;width:130px;}
.help3{float:left;margin:0 25px;overflow:hidden;background:url(../images/howpay.gif) no-repeat left top;padding-left:55px;width:130px;}
.help4{float:left;margin:0 25px;overflow:hidden;background:url(../images/howline.gif) no-repeat left top;padding-left:55px;width:130px;}
.newone h3,.howbuy h3,.howpay h3, .howline h3{font-family:"微软雅黑";font-size:20px;font-weight:normal}
.line{background:url(../images/line.gif) no-repeat;height:9px;}
.footnav,.paylink{text-align:center;padding:5px 0;}
.foot_copyright{text-align:center;border-top:1px solid #ddd;margin-bottom:30px;}